.row
  .col-sm-6
    instructions
  .col-sm-6
    =bootstrap_form_for @account_settings do |f|
      =f.text_field :default_message_subject
      =f.text_field :default_send_now_message
      =f.text_field :default_add_to_queue_message
      =f.text_field :default_send_from_queue_message
      =f.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, default: Time.zone.name
      =f.submit 'save'
  