.header-box
  =image_tag('/assets/images/BirdTxt_Icons-Individual.jpg')
  %h4 send individual txt
.notification-container  
  = form_for @notification, remote: true do |f|
    .darker-box
      - if @notification.errors.any? or @customer.errors.any?
        .alert.alert-danger
          %ul
            - @notification.errors.full_messages.each do |msg|
              %li= msg
            - @customer.errors.full_messages.each do |msg|
              %li= msg   
      
    .lighter-box
      %h4 lookup or add a new cusomer
      =fields_for @customer do |c|
        .input-group
          =c.text_field :full_name, id: 'customer', class: "form-control", placeholder: 'Customer Name (optional)', data: {autocomplete_source: customers_path}
          .help-block 
            Type a phone number or name to search for a customer
          =c.text_field :phone_number, id: 'phone' ,class: "form-control input-mask-phone", placeholder: '(555)555-5555'
    .darker-box
      =f.text_field :order_number, class: "form-control",placeholder: 'order# (optional)'    
      =f.text_area :message, class: "form-control", :placeholder => "Type your message here. If you do not enter a message, your default message for 'send now' or 'send later' will be used", rows: 4, hide_label: true
      .form-actions.centerize
        =f.submit 'send later', class: 'btn btn-sm main-btn'
          
        %small or
        %button.btn.btn-sm.main-btn{:type => "submit"}
          send now
