#notifications
  .row
    .col-sm-6
      .notification-alert
      #individual-notification  
        =render 'notification_form'
    .col-sm-6
      =render 'group_notification_form'

%script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"}
%script{:src => "/assets/js/jquery.maskedinput.min.js"}
:javascript
  jQuery(function($) {
    $.mask.definitions['~']='[+-]';
    $('.input-mask-phone').mask('(999) 999-9999');
  });