#notifications
  .row
    .col-sm-6
      =render 'shared/notification_form'
    .col-sm-6
      =render 'shared/group_notification_form'
%script{:src => "/assets/js/jquery-ui.custom.min.js"}
%script{:src => "/assets/js/jquery.maskedinput.min.js"}
:javascript
  jQuery(function($) {
    $.mask.definitions['~']='[+-]';
    $('.input-mask-phone').mask('(999) 999-9999');
  });