#notifications
  .row
    .col-sm-6
      .notification-alert
      #individual-notification  
        =render 'notification_form'
    .col-sm-6
      =render 'group_notification_form'

%script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"}
%script{:src => "/assets/js/jquery.maskedinput.min.js"}
:javascript
  $(document).ready(function(){
    $('#individual-notification .notification-container').hide();

    $('#individual-notification .header-box').on('click', function(){
      $('#individual-notification .notification-container').slideToggle();
    });

    $('#group-notification .notification-container').hide();

    $('#group-notification .header-box').on('click', function(){
      $('#group-notification .notification-container').slideToggle();
    });
  });
:javascript
  jQuery(function($) {
    $.mask.definitions['~']='[+-]';
    $('.input-mask-phone').mask('(999) 999-9999');
  });