#group_form_box.well
  %h4
    =title
  %p Keywords need to be one word and they are unique to your account. You can invite customers to subscribe to a keyword campaign by asking them to text the keyword to the PijonTxt phone number (855-496-5033). 
  %p Example: 
  %blockquote
    "Text CARS to 855-496-5033 to recive special promotions and discounts."
  =bootstrap_form_for @group, remote: ajax_option do |f|
    =f.text_field :name, label: 'Keyword'
    =f.text_area :reply_message
    =f.text_field :forward_email
    %button.btn.btn-sm.btn-success{:type => "submit"}
      =button_label
