#group_form_box
  %h4
    =title
  =bootstrap_form_for @group, layout: :inline, remote: ajax_option do |f|
    =f.text_field :name, hide_label: true, placeholder: "Group Name"
    %button.btn.btn-sm.btn-success{:type => "submit"}
      =button_label
