.footer
  .footer-inner
    .footer-content
      %span.bigger-120
        %span.blue.bolder Text Notify © 2013-2015
      \   
      %span.action-buttons
        %a{:href => "#"}
          %i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
        %a{:href => "#"}
          %i.ace-icon.fa.fa-facebook-square.text-primary.bigger-150
