.navbar.row
  .navbar-container.col-sm-5.centerize.text-center
    =link_to root_path, class: 'logo' do
      =image_tag('/assets/images/PijonTxt_FullBirdLogo.png')
    %ul.main-nav
      %li
        =link_to 'pijon dashboard', dashboard_path, class: active_link?(nil,'dashboard') 
      %span.nav-spacer              
      %li
        =link_to 'send text', notifications_path, class: active_link?('notifications') 
      %span.nav-spacer              
      %li
        =link_to 'customers', customers_path, class: active_link?('customers') 
      %span.nav-spacer              
      %li
        =link_to 'groups', groups_path, class: active_link?('groups')
    %ul.sub-nav
      %li
        =link_to 'Your Account', edit_business_owner_registration_path, class: active_link?('business_owners/registrations')
      %span.nav-spacer              
      %li
        =link_to 'About PijonTxt', '/about', class: active_link?(nil,'about')
      %span.nav-spacer              
      %li
        =link_to 'contact us', new_inquiry_path, class: active_link?('inquiries')
      %span.nav-spacer              
      %li
        =link_to 'Logout', destroy_business_owner_session_path, method: :delete  
