#navbar.navbar.navbar-default.navbar-fixed-top
  #navbar-container.navbar-container.container
    %button#menu-toggler.navbar-toggle.menu-toggler.pull-left{:type => "button"}
      %span.sr-only Toggle sidebar
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-header.pull-left
      =link_to root_path, class: "navbar-brand" do
        %small
          %i.fa.fa-bullhorn
          Text Notify
    - if user_signed_in?
      %nav.navbar-menu.collapse.navbar-collapse.pull-left{:role => "navigation"}
        %ul.nav.navbar-nav
          %li
            =link_to dashboard_path do
              %i.ace-icon.fa.fa-tachometer
              Dashboard
          %li
            =link_to notifications_path do
              %i.ace-icon.fa.fa-comment
              Notifications
          %li
            =link_to customers_path do
              %i.ace-icon.fa.fa-user
              Customers
          %li
            =link_to groups_path do
              %i.ace-icon.fa.fa-group
              Customer Groups
    .navbar-buttons.navbar-header.pull-right{:role => "navigation"}
      - if user_signed_in?
        %ul.nav.ace-nav
          %li.light-blue
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span.user-info
                %small Welcome,
                =current_user.full_name
              %i.ace-icon.fa.fa-caret-down
            %ul.user-menu.dropdown-menu-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
              %li
                %a{:href => "#"}
                  %i.ace-icon.fa.fa-cog
                  Settings
              %li
                = link_to edit_user_registration_path do
                  %i.ace-icon.fa.fa-user
                  Profile
              %li.divider
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.ace-icon.fa.fa-power-off
                  Logout
      - else
        %p.navbar-text
          = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
          |
          \#{link_to "Login", new_user_session_path, :class => 'navbar-link'}