#sidebar.sidebar.responsive.sidebar-fixed.sidebar-scroll
  #sidebar-shortcuts.sidebar-shortcuts
    #sidebar-shortcuts-large.sidebar-shortcuts-large
  %ul.nav.nav-list
    %li.active.open
      %a.dropdown-toggle{:href => "#"}
        %i.menu-icon.fa.fa-comment
        %span.menu-text
          Notifications
        %b.arrow.fa.fa-angle-down
      %b.arrow
      %ul.submenu
        %li.active
          =link_to new_notification_path do
            %i.menu-icon.fa.fa-caret-right
            New Notification
          %b.arrow
        %li
          =link_to sent_notifications_path do
            %i.menu-icon.fa.fa-caret-right
            Sent Notifications
          %b.arrow
        %li
          =link_to pending_notifications_path do
            %i.menu-icon.fa.fa-caret-right
            Pending Notifications
          %b.arrow  
    %li.active.open
      %a.dropdown-toggle{:href => "#"}
        %i.menu-icon.fa.fa-user
        %span.menu-text
          Customers
        %b.arrow.fa.fa-angle-down
      %b.arrow
      %ul.submenu
        %li
          =link_to new_customer_path do
            %i.menu-icon.fa.fa-caret-right
            New Customer
          %b.arrow
        %li
          =link_to customers_path do
            %i.menu-icon.fa.fa-caret-right
            View Customers
          %b.arrow      
  #sidebar-collapse.sidebar-toggle.sidebar-collapse
    %i.ace-icon.fa.fa-angle-double-left{"data-icon1" => "ace-icon fa fa-angle-double-left", "data-icon2" => "ace-icon fa fa-angle-double-right"}
