.widget-box
  .widget-header
    %h4.widget-title
      =title
  .widget-body
    .widget-main.no-padding
      = bootstrap_form_for @customer, layout: :inline, inline_errors: false do |f|
        =f.hidden_field :business_owner_id, value: current_business_owner.id
        %fieldset
          = f.alert_message "Please fix the errors below."
          %div
            .input-group
              %span.input-group-addon
                %i.ace-icon.fa.fa-user
              =f.text_field :first_name, class: "form-control", :placeholder => "Enter First Name", hide_label: true
            .input-group
              %span.input-group-addon
                %i.ace-icon.fa.fa-user
              =f.text_field :last_name, class: "form-control", :placeholder => "Enter Last Name", hide_label: true    
            .input-group
              %span.input-group-addon
                %i.ace-icon.fa.fa-phone
              =f.text_field :phone_number, class: "form-control input-mask-phone", :placeholder => "(555)555-5555", hide_label: true
            .input-group
              %button.btn.btn-sm.btn-success{:type => "submit"}
                =button_label
                %i.ace-icon.fa.fa-arrow-right.icon-on-right.bigger-110