=render 'shared/page_header', title: "New Customer"

.row
  .col-sm-8
    .widget-box
      .widget-body
        .widget-main.no-padding
          = form_for @customer do |f|
            %fieldset
              %div
                = f.label :first_name, "First Name"
                .input-group
                  %span.input-group-addon
                    %i.ace-icon.fa.fa-user
                  =f.text_field :last_name, class: "form-control", :placeholder => "Jon"
                = f.label :last_name, "Last Name"
                .input-group
                  %span.input-group-addon
                    %i.ace-icon.fa.fa-user
                  =f.text_field :first_name, class: "form-control", :placeholder => "Snow"    
              %hr
              %div
                =f.label :phone_number, "Phone Number"
                .input-group
                  %span.input-group-addon
                    %i.ace-icon.fa.fa-phone
                  =f.text_field :phone_number, class: "form-control", :placeholder => "555-555-5555"    
            .form-actions.center
              %button.btn.btn-sm.btn-success{:type => "button"}
                Save Customer
                %i.ace-icon.fa.fa-arrow-right.icon-on-right.bigger-110
        
  
    