.row
  .col-sm-8.centerize
    .purple-box
      .text-center.big-logo
        =image_tag '/assets/images/PijonTxt_Logo_KO.png', class: 'img-responsive'
      .space-6
      .row
        .centered-form.col-sm-12.centerize
        =render 'shared/page_header', title: "Retrieve Password"
        %p
          Enter your email and to receive instructions
        = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, inline_errors: false ) do |f|
          = f.alert_message ""
          = f.email_field :email, autofocus: true, class: "form-control", :placeholder => "Email", hide_label: true
          =f.submit 'Send Me!', class: 'btn main-btn'    
        .clearfix
        .space-8
        .pull-left
          What is PijonTxt?
          =link_to 'Learn More', '/about'
        .pull-right
          =link_to 'Sign In', root_path 
        .clearfix

