.row
  .col-sm-8.centerize.text-center
    .orange-circle
      .big-logo
        =image_tag '/assets/images/PijonTxt_Logo_KO.png'
      %hr
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %p
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      -if !business_owner_signed_in?  
        =link_to new_business_owner_registration_path do
          %button.btn.btn-sm.alt-btn
            create an account
        .space-6    
        =link_to root_path do
          %button.btn.btn-sm.alt-btn
            sign in      


      