.row
  .col-sm-8.centerize
    .purple-box
      -if !business_owner_signed_in?  
        .big-logo.text-center
          = link_to root_path do 
            =image_tag '/assets/images/PijonTxt_Logo_KO.png', class: 'img-responsive'
        %hr
      %h1
        Welcome to PijonTxt!
      %p
        PijonTxt is a 
        %b text messeging 
        service and the work of a brother/sister development/design duo who saw a need for an easier way for businesses to communicate with their most important asset… the customer.
      %p
        Businesses who can benefit the PijonTxt services are - retail stores, restaurants, bars &amp; nightclubs, food trucks, education / non-profits / community groups, event marketers, religious groups, real estate, small businesses, and many more! 
      
      %h1
        Here's are 2 examples of how it works.
      
      %strong Retail store example
      %p  
        Let's say there's a clothing store called "Jenny's Sweater Shop". Jenny can put up a sign in the window saying "text SWEATER to 855-496-5033 to receive advanced notice of special sales". Customers see the sign and text "SWEATER" to the number and join the list. Now Jenny can can collect customers in her PijonTxt account and send them all a promotional message when ever she wants. 
      %p
        %b Example promotional message: 
        "From Jenny's Sweater Shop: Come in to the store 1/30/2015 and get half off of everything. Visit www.jennysweaters.com for more details".
      %p 
        Now Jenny has some new customer connections, and a way to contact them with a marketing message, and even directed them to her web site! 

      %strong
        The food truck/restaurant example
      %p
        Let's say there's a food truck called "Jimmy's Taco Shack". When Jimmy takes a customer's order he simply enters their name, cell number, and an optional (but suggested) order number into PijonTxt. The customer will be sent a text that says something like "Thanks for your order, we'll text you when it's ready."
      %p
        The customer will be placed in a queue, and when their order is ready to go, Jimmy clicks a button, sending them another txt letting them know their order is ready. This way the customer is free to leave the truck , instead of having to wait in front of it. 
      %p
        But that's not all… the customer is saved in the database and Jimmy can add them to a group. The next time Jimmy's truck rolls into town, say for the Monday Night Food Truck Rally, Jimmy can send all the customers in the group a message letting them know his truck has arrived at the park.

      %strong PijonTxt will work for you!  
      %p
        These 2 examples can be adapted to many other kinds of businesses. For example: dry cleaners, service department at a car dealership or a computer repair shop. 
      %p
        Give us a try, and don't hesitate ask us any questions. We are happy to work with you, help you come up with strategies and/or marketing campaigns and help you take full advantage of our service. PijonTxt is still new and we want to make it  exactly what you need to help you business run smoother and grow. The most important thing to us is helping you. 

      %p
        You can call me (Doug, lead developer ) directly at 954-638-1523  or send me an email from the #{link_to 'contact page', new_inquiry_path} .
        
      -if !business_owner_signed_in?  
        .text-center
          %hr
          =link_to new_business_owner_registration_path do
            %button.btn.btn-sm.alt-btn
              create an account
          %b OR     
          =link_to root_path do
            %button.btn.btn-sm.alt-btn
              sign in     
      %hr
      .faq
        %h1 Frequently Asked Questions

        %p
          %strong What is PijonTxt
          PijonTxt is a sms based text communications and marketing service. 
        %p
          %strong Why sms Text messages?
          SMS text are the most reliable form of communication with your customers.  99% of your customers carry their cell phone with them at all times they can all receive text messages,  and 99% of people who get  a text message read it. A text message is the next best thing to an actual live conversation 
        %p
          %strong Why not email?
          People these days are bombarded with junk and spam mail. Some emails even get blocked by email services such as Gmail. People also don't check their email as often as they check their phone.   
        %p
          %strong What can PijonTxt do?
          Pijontxt can instantly send a text message to anyone AND confirm that it was delivered. It lets you create groups of customers, so you can send a mass text to all of them at once, or send a specific message to one customer at a time. PijonTxt keeps a database of every customer you ever sent a text to.
        %p
          %strong How do groups work?
          PijonTxt allows you to create groups. You can add customers to those groups and send a message to everyone in the group with one simple action. A group name is a single word, for example: "MIAMI". The group name is unique to your PijonTxt account, so no other user of PijonTxt can have a group called miami. You can have your customers "Add them selves to you group" by telling them to send a text MIAMI to 855-496-5033. That's it! You can also add customers to your account manually and add them to a group. 
        %p
          %strong How many groups can I have?
          As many as you want! Other serves will charge you for each group, but in PijonTxt you can have as many as you want.
        %p
          %strong Is it easy to use?
          PijonTxt is super easy to use. 90% of your activity with the app will be in the "send txt" page. Every action on the screen can be done in a couple of clicks. From here you can:
        %ol
          %li send a single message to a customer
          %li send a single message to a customer and add them to the text queue
          %li send a message form the txt queue
          %li send a message to a group
        %p
          %strong How much does it cost?
          Free! PijonTxt is in it's beginning stages, so  we are looking for BETA users. We need you to try it out, let us know what you like, what you don't like, and what you would like to see added. We have put in a lot of time and effort creating a reliable and useful product, so please don't think that because it's free it's not good. It won't be free for ever, but when we do start charging for the service the price will be fair and well worth it.
        %p
          %strong Will it work on my phone  or tablet?
          Yes! PijonTxt.com will work great on any device!
      -if !business_owner_signed_in?  
        .text-center
          %hr
          =link_to new_business_owner_registration_path do
            %button.btn.btn-sm.alt-btn
              create an account
          %b OR     
          =link_to root_path do
            %button.btn.btn-sm.alt-btn
              sign in    