.row
  .col-sm-8.centerize
    .orange-circle
      .big-logo.text-center
        =image_tag '/assets/images/PijonTxt_Logo_KO.png'
      %hr
      %p
        Welcome to PijonTxt.com… The work of a brother/sister design duo who saw a need for an easier way for businesses to communicate with their most important asset… the customer.
      %p
        Food Trucks, Bars & Nightclubs, Education / Non-Profits / Community Groups, Event Marketers, Religious Groups, Restaurants, Retail, Real Estate, Small Businesses. 
      %p
        Here's an example use case of how it works.
      %p
        With this simple browser-based txt service, a food truck (let's call them Jimmy's Taco Shack for example) can simply enter their customer's name, cell number, and an optional (but suggested) order number to have them placed in a queue to send a txt to when their order is ready. But that's not all… this information is saved in a customer database, and for the Monday Night Food Truck Rally (for example) Jimmy can save these customers as a group, and send a message to everyone on that list at once when they have arrived at the park.
      %p
        So you say… "Food trucks are cool… but I own something more to the likes of a laundry mat." No problem! This service can be utilized for basically any type of business. Give us a try, and don't hesitate to shoot us any query that comes to your mind. We are PijonTxt.com… and we are here to help. You can call me (Doug, lead developer ) directly at 954-638-1523 with any questions.
      %hr
      .faq
        %h3 Frequently Asked Questions

        %p
          %strong What is PijonTxt
          PijonTxt is a sms based text communications and marketing service. 
        %p
          %strong Why sms Text messages?
          SMS text are the most reliable form of communication with your customers.  99% of your customers carry their cell phone with them at all times they can all receive text messages,  and 99% of people who get  a text message read it. A text message is the next best thing to an actual live conversation 
        %p
          %strong Why not email?
          People these days are bombarded with junk and spam mail. Some emails even get blocked by email services such as Gmail. People also don't check their email as often as they check their phone.   
        %p
          %strong What can PijonTxt do?
          Pijontxt can instantly send a text message to anyone AND confirm that it was delivered. It lets you create groups of customers, so you can send a mass text to all of them at once, or send a specific message to one customer at a time. PijonTxt keeps a database of every customer you ever sent a text to.
        %p
          %strong How do groups work?
          PijonTxt allows you to create groups. You can add customers to those groups and send a message to everyone in the group with one simple action. A group name is a single word, for example: "MIAMI". The group name is unique to your PijonTxt account, so no other user of PijonTxt can have a group called miami. You can have your customers "Add them selves to you group" by telling them to send a text MIAMI to 855-496-5033. That's it! You can also add customers to your account manually and add them to a group. 
        %p
          %strong How many groups can I have?
          As many as you want! Other serves will charge you for each group, but in PijonTxt you can have as many as you want.
        %p
          %strong Is it easy to use?
          PijonTxt is super easy to use. 90% of your activity with the app will be in the "send txt" page. Every action on the screen can be done in a couple of clicks. From here you can:
        %ol
          %li send a single message to a customer
          %li send a single message to a customer and add them to the text queue
          %li send a message form the txt queue
          %li send a message to a group
        %p
          %strong How much does it cost?
          Free! PijonTxt is in it's beginning stages, so  we are looking for BETA users. We need you to try it out, let us know what you like, what you don't like, and what you would like to see added. We have put in a lot of time and effort creating a reliable and useful product, so please don't think that because it's free it's not good. It won't be free for ever, but when we do start charging for the service the price will be fair and well worth it.
        %p
          %strong Will it work on my phone  or tablet?
          Yes! PijonTxt.com will work great on any device!

      -if !business_owner_signed_in?  
        =link_to new_business_owner_registration_path do
          %button.btn.btn-sm.alt-btn
            create an account
        .space-6    
        =link_to root_path do
          %button.btn.btn-sm.alt-btn
            sign in      


      