=render 'shared/page_header', title: "Dashboard"

Statistics about customers, notifications, and groups will go here as well as information from the users profile. Use the links above to explore the current functionality in the app.