.jumbotron
  %h1 Text Market Your Business and Save time with "Text Notify"
  %p.lead "Text Notify"  makes advertising easy, saves you time and money, ensures better customers communication, and helps to keep your customers happy!
  %p
    = link_to new_business_owner_registration_path do
      %button.btn.btn-lg.btn-success Sign Up Today!
  %p.lead
    or
    = link_to "Sign In", new_business_owner_session_path
.row
  .col-sm-4
    %hr
    %p "Text Notifier" makes advertising easy with group text. You can create customer groups and send out promo, and specials. More text about marketing. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .col-sm-4
    %hr
    %p "Text Notifier" will notify your customers via text message when an item they have dropped off, or ordered is ready to be pick up. This saves you (the business owner) the time it would take to make a phone call. With just a few clicks you can send a text message. It also eliminates the chance that your customer will miss a phone call. All cell phones are capable of getting text. It's easy to miss a call or to forget to check voicemail, but text massages don't go away unless they are viewed and deleted.
  .col-sm-4
    %hr
    %p "Text Notifier" will notify your customers via text message when an item they have dropped off, or ordered is ready to be pick up. This saves you (the business owner) the time it would take to make a phone call. With just a few clicks you can send a text message. It also eliminates the chance that your customer will miss a phone call. All cell phones are capable of getting text. It's easy to miss a call or to forget to check voicemail, but text massages don't go away unless they are viewed and deleted.     