.jumbotron
  %h1 Save time with "Text Notify"
  %p.lead "Text Notify" saves you time, ensures better communication with customers, and helps to keep your customers happy!
  %p
    = link_to new_user_registration_path do
      %button.btn.btn-lg.btn-success Sign Up Today!
  %p.lead
    or
    = link_to "Sign In", new_user_session_path
.row
  .col-sm-6
    %hr
    %p.lead "Text Notifier" will notify your customers via text message when an item they have dropped off, or ordered is ready to be pick up. This saves you (the business owner) the time it would take to make a phone call. With just a few clicks you can send a text message. It also eliminates the chance that your customer will miss a phone call. All cell phones are capable of getting text. It's easy to miss a call or to forget to check voicemail, but text massages don't go away unless they are viewed and deleted.

       