%ul
  %li 
    %a{:href => "/ui/front"} Front Page
  %li 
    %a{:href => "/ui/sign_up"} Sign up page
  %li 
    %a{:href => "/ui/sign_in"} Sign in page
  %li 
    %a{:href => "/ui/new_notification"} New Notification
  %li 
    %a{:href => "/ui/sent_notifications"} Sent Notifications
  %li 
    %a{:href => "/ui/pending_notifications"} Pending Notifications
  %li 
    %a{:href => "/ui/new_customer"} New Customer
  %li 
    %a{:href => "/ui/view_customers"} View Customers
  
