!!!5
%html(lang="en-US")
  %body
    %p="Keyword - #{@group.name}" 
    %p="Customer Phone - #{@customer.phone_number}" 
    %p="The customer sent in this message - #{@sms[:Body]}" 
    %p="The customer was sent back this message - #{group.reply_message}"


