.orange-circle{
  background-color: $purple;
  color: $white;
  padding: 15px;
  @include border-radius(15px);
  font-weight: normal;
}

.orange-circle hr{
  color: #DC5631;
}
.faq{
  strong{
    display: block;
    font-size: 18px;
    margin-top: 20px;
  }
  h2{
    font-size: 20px;
    text-align: center;
  } 
}