@import "bootstrap";

/*links*/

a:link, a:visited {
    color: #E04E29;
    text-decoration: underline;
}

/*footer styles*/
.footer {
    height: 216px;
    background-image: url('/assets/images/CityScaper_Footer.png');
}

.footer-content {
    padding-top: 105px;
    color: #FFF;
}

/*forms*/
.centered-form {
  width: 331px;
  margin-left: 92px;
  padding: 22px 0 15px;
}

input[type=text], input[type=email], input[type=password] {
    border-radius: 0;
}

.main-btn {
  //@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  @include button-variant(#FFFFFF, #E04E29, #E87A5D);
  font-size: 14px;
  border-radius: 0;
  border-width: 2px;
  font-weight: bold;
}


/*layout*/
.big-logo{
    margin-top:20px; 
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }


 .new_group .field_with_errors{
    display: inline;
 }