/*layout*/
body{
  background-color: $purple;
}
.page-content-area {
  padding-top: 15px;
  min-height: 550px;
  background-color: #ffffff;
}

.purple-circle {
  background-color: $purple;
  padding: 15px;
  @include border-radius(15px);
}

.centerize{
  float: none;
  margin: 0 auto;
}
.space-6{
  height: 6px;
}