/*layout*/
body{
  background-color: $purple;
}
.page-content-area {
  padding-top: 15px;
  min-height: 550px;
  background-color: #ffffff;
}

.registration-box {
  background-color: $orange;
  padding: 15px;
  color: $white;
  @include border-radius(15px);
  a:link, a:visited{
    color: $white
  }
}

.centerize{
  float: none;
  margin: 0 auto;
}
.space-6{
  height: 6px;
}