// tabs
#tabs ul{
  margin: 0;
  padding: 0;

  .ui-state-default{
    display: table-cell;
  }

    .ui-state-default{
      a:link, a:visited{
        display: inline-block;
        background-color: $light-purple;
        color: $white;
        text-decoration: none;
        padding: 8px 32px;
        font-size: 16px;
      }  
    }

    .ui-tabs-active{
      a:link, a:visited{
        display: inline-block;
        background-color: $purple;
        color: $white;
        text-decoration: none;
        padding: 8px 32px;
        font-size: 16px;
      }  
    }
}

// queue
#txt-queue{

  .header{
    background-color: $orange;
    padding: 20px;
    text-align: center;
  }
  .table{
    color: #000;
  }
}



#notifications{
  color: $white;
  h4{
    margin: 0;
  }

  input{
    margin: 3px 0;
    border: solid 1px #000000;
  }


  textarea{
    margin: 5px 0;
  }

  .header-box{
    background-color: $purple;
    text-align: center;
    padding: 10px 10px 0 ;
  }

  .darker-box{
    background-color: $purple;
    padding: 10px 25px;
  }

  .lighter-box{
    text-align: center;
    background-color: $light-purple;
    padding: 15px 25px;
    margin: 2px 0;
  }

  .form-actions{
    text-align: center;
    font-size: 24px;
    
    small{
      margin: 0 20px;
      position: relative;
      top: 8px;
    }
  }
}


#group-notification {
    span{
      left: 92px;
      position: relative;
      top: -16px;
    }
    .form-actions{
      text-align: right;
    }
}

.notification-alert, .queue-alert {
    color: $orange;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    text-align: center;
}

.footer-nav{
  a:link, a:visited{
    color: #FFFFFF;
  }
}