.row
  .col-sm-5.centerize
    %h4 Contact Us
    = bootstrap_form_for @inquiry do |f|
      =f.text_field :name, label: "Name *"
      =f.text_field :email, label: "Email Address *"
      =f.text_field :phone_number, class: "input-mask-phone"
      =f.check_box :contact_by_phone, label: "Would you like to be contact you by phone?"
      =f.text_area :message, label: "Message *"
      %p (* required field)    
      .form-actions
        %button.btn.btn-sm.main-btn{:type => "submit"}
          Send

%script{:src => "/assets/js/jquery-ui.custom.min.js"}
%script{:src => "/assets/js/jquery.maskedinput.min.js"}
:javascript
  jQuery(function($) {
    $.mask.definitions['~']='[+-]';
    $('.input-mask-phone').mask('(999) 999-9999');
  });    