.row.footer
  .col-sm-4.col-sm-offset-4.text-center.footer-content
    ©2015 PijonTxt. All rights reserved.
    .footer-nav
      =link_to 'contact us', new_inquiry_path    

/ Start of StatCounter Code for Default Guide
:javascript
  var sc_project=10208321; 
  var sc_invisible=0; 
  var sc_security="870255ef"; 
  var scJsHost = (("https:" == document.location.protocol) ?
  "https://secure." : "http://www.");
  document.write("<sc"+"ript type='text/javascript' src='" +
  scJsHost+
  "statcounter.com/counter/counter.js'></"+"script>");
%noscript
  .statcounter
    %a{:href => "http://statcounter.com/", :target => "_blank", :title => "site stats"}
      %img.statcounter{:alt => "site stats", :src => "http://c.statcounter.com/10208321/0/870255ef/0/"}/
/ End of StatCounter Code for Default Guide