!!!
%html{:lang => "en"}
  %head
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "utf-8"}/
    %title PijonTxt - A friendly txt messaging service! - Reach out to your customers with txt messages.
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries
    /[if lte IE 8]
      <script src="/assets/js/html5shiv.min.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  %body
    .small-menu
      %span.menu-trigger +Menu
    #main-container.container-fluid
      =render 'layouts/main_nav' if business_owner_signed_in? 
      .page-content-area.centerize
        =render "shared/messages" if business_owner_signed_in?
        = yield
      =render 'layouts/footer'
